* {
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
    box-sizing: border-box;
  }
  ::-webkit-scrollbar {
    width: 8px;
  }
::-webkit-scrollbar-track{
    background-color: #fff;
}
::-webkit-scrollbar-thumb {
    background: #bebebe;
    border-radius: 10px;
  }
html, body{
    margin: 0;
    padding: 0;
    height: 100%;
        font-family: "Inter", sans-serif;
        font-optical-sizing: auto;
        font-weight: normal;
        font-style: normal;
        font-variation-settings:
          "slnt" 0;
}
.main-docker{
    min-height: 100%;
    display: flex;
    flex-direction: row;
}
.nav-section-web{
    width: fit-content;
    background-color: black;
    position: fixed;
    top: 0;
    height: 100%;
    max-width: 65px;
    z-index: 99999;
}
#navigation-controlling-deck{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 10px;
}
img.navbar-control-icons{
    width: 40px;
    
    margin: 10px 0;
    cursor: pointer;
    /* stroke-width: 5; */
}
img#navbar-main-logo{
    width: 45px;
}
img#navbar-user-profile-pic{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    aspect-ratio: 8 / 8;
    object-fit: cover;
}
#nav-separator{
    width: 80%;
    margin: 20px 0;
    height: 2px;
    border-radius: 10px;
    background-image: linear-gradient(90deg, rgba(248, 73, 27, 1) 0%, rgba(241, 47, 63, 1) 50%, rgba(220, 24, 96, 1) 100%);
}
.export-htmls{
    flex: 1;
    padding-left: 65px;
    width: 100%;
}
.menu-toggle{
    display: none;
}
.bar {
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin: 3px 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.menu-toggle.close .bar:nth-child(1) {
    transform: translateY(9px) rotate(45deg);
}

.menu-toggle.close .bar:nth-child(2) {
    opacity: 0;
}

.menu-toggle.close .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}
.nav-section-mobile{
    display: flex;
    width: fit-content;
    background-color: black;
    top: 0;
    height: 100%;
    height: 100vh;
    position: absolute;
    z-index: 998;
    min-width: 40%;
    left: -40%;
    transition: transform 0.5s ease, left 0.5s ease;
    justify-content: center;

}
@keyframes fadeIn {
    from {
      transform: translateX(-80px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }
  }
@keyframes fadeOut {
    from {
      transform: translateX(0px);
      opacity: 1;
    }
    to {
      transform: translateX(-80px);
      opacity: 0;
    }
  }
@keyframes opacity-animate{
    from {opacity: 0;}
    to {opacity: 0.5}
}
.navbar-links{
    display: flex;
    align-items: center;
    text-align: center;
    color: #d8d8d8;
    text-decoration: none;
    font-size: 16px;
    font-weight: 300;
    justify-content: space-around;
    
}
.navbar-line{
    width: 100%;
    border: 1px solid #626262;
}
.blinder {
    width: 100%;
    height: 100%;
    background-color: black;
    position: fixed;
    opacity: 0;               
    visibility: hidden;        
    z-index: 998;
    transition: opacity 0.4s ease, visibility 0.4s ease;
}
.blinder.active {
    opacity: 0.8;             
    visibility: visible;      
}
.web-collab-list {
    position: fixed;
    top: 0;
    left: -27%;
    width: 22%;
    height: 100%;
    margin-left: 65px;
    background-color: #000000c9;
    z-index: 997;
    backdrop-filter: blur(30px);
    padding: 10px;
    padding-top: 40px;
    transition: transform 0.4s ease, left 0.4s ease;
}

.web-collab-list.active {
    left: 0;
}
.w-main-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px;
}
.collab-list-element{
    color: #d8d8d8;
    text-decoration: none;
    cursor: pointer;
}
.your-collab-head{
    background: linear-gradient(to right, rgba(248, 73, 27, 1), rgba(241, 47, 63, 1), rgba(220, 24, 96, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 28px;
    font-weight: 200;
    letter-spacing: -1px;
}
.your-collab-hr{
    height: 2px;
    border: none;
    background: linear-gradient(to right, rgba(248, 73, 27, 1), rgba(241, 47, 63, 1), rgba(220, 24, 96, 1));
    width: 80%;
    margin: 35px 0;
}
.collab-list-hr{
    height: 1px;
    border: none;
    background: #d8d8d83d;
    width: 100%;
    margin: 20px 0;
}
.back-arrow{
    display: none;
}
#back-arrow{
    background: none;
    border: none;
}
#back-arrow > img{
    width: 44px;
}
@media screen and (max-width: 768px){
    .nav-section-mobile.active{
        position: fixed;
        left: 0;
        
    }
    .nav-section-web{
        display: none;
    }
    .menu-toggle{
        display: flex;
    position: absolute;
    flex-direction: column;
    margin: 20px;
    z-index: 999;
    /* margin-top: 14%; */
    }
    .menu-toggle.close{
        position: fixed;
    }
    /* .nav-section-mobile.active {
        display: flex;
        flex-direction: column;
        background-color: #333;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
    } */
    .export-htmls{
        padding: 0;
    }
    nav{
        padding: 110px 20px;
        align-items: flex-start;
        width: 100%;
    }
    #nav-separator{
        width: 100%;
        
    }
    .web-collab-list{
        margin-left: 0;
        width: 50%;
        z-index: 1000;
        padding-top: 25px;
        left: -50%;
    }
    .web-collab-list.active{
        left: 0;
    }
    .back-arrow{
        display: block;
        margin-bottom: 30px;
    }
    .your-collab-hr{
        width: 100%;
    }
}