body{
    margin: 0;
    padding: 0;
}
.rtf0q-57a6 {
    width: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

}
.x3snitp4c1{
    color: white;
    font-size: 85px;
    font-weight: 200;
    letter-spacing: -9px;
    margin: 0;
}
.kn4y1b92ef{
    color: white;
    font-size: 25px;
    font-weight: 100;
    padding: 0;
}
.htm3k2y-81{
    background-color: black;
    display: flex;
    flex-direction: column;
    /* height: 300px; */
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}
.pw8j2l4n{
    color: white;
    font-size: 42px;
    font-weight: 100;
    letter-spacing: -5px;
    margin: 0;
}
@media screen and (max-width: 768px){
    .pw8j2l4n{
        margin-left: 10%;
    }
}