
.explr-or-comnty{
    visibility: visible;
    opacity: 1;
    font-weight: 200;
    font-size: 30px;
    margin: 30px 0px;
    width: 100%;
}

.search-container{
    width: 30%;
    height: 0;
    /* max-width: fit-content; */
    display: flex;
    padding: 0px;
    margin: 0px;
    min-width: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    border-radius: 10px;
    background: #ededed;
    opacity: 0; /* Initially hidden */
    transition: height 0.3s, margin 0.3s, padding 0.3s, opacity 0.3s ease-in-out;
}
.search-container.active{
    opacity: 1;
    margin: 20px;
    padding: 10px;
    height: 35px;
}

#search-logo{
    width: 8%;
    padding-right: 10px;
}
.search-input{
    width: 80%;
    min-width: max-content;
    background: transparent;
    color: black;
    outline: none;
    border: none;
    font-size: 18px;
}

.home-post-header > a{
    display: flex;
}

.home-post-header > a > img, .post-owner-username, .home-post-date{
    padding: 3px;
}

.home-post-header{
    display: flex;
}

.homefeed{
    width: 50%;
    margin-left: 80px;
    font-size: medium;
    border: solid 1px;
    border-radius: 8px;
    padding: 8px;
    margin-bottom: 20px;
}

.post-details{
    width: 60%;
}

.post-overview{
    display: flex;
}

.post-thumbnail{
    padding-left: 5px;
    margin: 0;
    width: 35%;
}

.mostviewed-feed{
    width: 80%;
    height: 25%;
    font-size: small;
    border: solid 1px;
    border-radius: 8px;
    margin: auto;
    padding: 3px;
    margin-bottom: 6px;
}

.most-viewed{
    width: auto;
    border: solid 1px;
    border-radius: 8px;
    margin-right: 80px;
    height: 500px;
    margin-bottom: 20px;
}

.most-viewed-h4{
    margin: 0;
    text-decoration: none;
    font-weight: 400;
    font-size: large;
    padding: 15px;
}

.mv-post-thumbnail{
    height: 30%;
    width: 30%;
}

.artists > figure > a > img{
    width: 50px;
}

.top-artists{
    width: auto;
}

.main-explore{
    display: flex;
}