:root{
    --setBorder: 1px solid #d9d9d9;
    --setBorder-feed: 1px solid #f0f0f0;
}
.explr-or-comnty{
    visibility: visible;
    opacity: 1;
    font-weight: 100;
    font-size: 35px;
    margin: 30px 0px;
    width: 100%;
    letter-spacing: -2px;
}

.search-container{
    width: 30%;
    height: 0;
    /* max-width: fit-content; */
    display: flex;
    padding: 0px;
    margin: 0px;
    min-width: fit-content;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    border-radius: 10px;
    background: #ededed;
    opacity: 0; /* Initially hidden */
    transition: height 0.3s, margin 0.3s, padding 0.3s, opacity 0.3s ease-in-out;
}
.search-container.active{
    opacity: 1;
    margin: 20px;
    padding: 10px;
    height: 35px;
}

#search-logo{
    width: 8%;
    padding-right: 10px;
}
.search-input{
    width: 80%;
    min-width: max-content;
    background: transparent;
    color: black;
    outline: none;
    border: none;
    font-size: 18px;
}

.home-post-header > a{
    text-decoration: none;
}

.home-post-header > a > img, .post-owner-username, .home-post-date{
    padding: 3px;
    margin: 0;
}
.username-specific{
    font-size: 16px;
    color: #000;
    font-weight: 300;
    /* text-decoration: none; */
    text-transform: lowercase;
}
.post-date-specific{
    color: #969696;
    font-weight: 200;
    font-size: medium;
}

.home-post-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.homefeed{
        /* margin: 50px; */
        font-size: medium;
        border: var(--setBorder-feed);
        border-radius: 8px;
        padding: 18px;
        margin-bottom: 20px;
        margin: 20px;
}
.each-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 200px;
    justify-content: flex-start;
    overflow: hidden;
}
.post-details{
    width: 100%;
    padding: 10px 0;
    text-decoration: none;
}
.post-caption{
    font-size: 24px;
    font-weight: normal;
    margin: 0;
    color: #000;
}
.post-description{
    font-size: 14px;
    color: #707070;
    overflow: hidden;
    /* text-overflow: ellipsis; */
    /* white-space: nowrap; */
    /* height: 40px; */
    width: 90%;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    overflow: hidden;
    line-height: 1.5;
    text-align: start;
    font-weight: 400;
}

.post-overview{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

.post-thumbnail{
    border-radius: 10px;
    margin-left: auto;
    width: 35%;
    object-fit: cover;
    height: 100%;
    cursor: pointer;
}

.homefeed > a{
    text-decoration: none;
}
.suggestions{
    width: 35%;
    height: fit-content;
    position: sticky;
    top: 0;
}
.mostviewed,.top-artists{
    border-left: var(--setBorder);
    margin-right: 20px;
    margin-top: 20px;
}
.-ta-margin-specific{
    margin-top: 50px;
}

.mv-post-header{
    display: flex;
}

.mv-post-header > a{
    display: flex;
    padding: 3px;
}

.mvpost-thumbnail{
    margin: 0;
    width: 35%;
    height: 35%;
}

.mv-post{
    margin: 20px;
    font-size: small;
    border: var(--setBorder);
    border-radius: 8px;
    padding: 8px;
}

.main-explore{
    display: flex;
    flex-direction: row;
    margin-top: 30px;
    justify-content: center;
}
.sub-explore{
    min-width: 50%;
    max-width: 65%;
}
.post-buttons > img{
    padding-right: 8px;
    width: 20px;
}

.mv-h4{
    font-weight: 200;
    padding-left: 15px;
    font-size: 25px;
    margin: inherit;
}

.mv-post-header > a > img, .post-owner-username, .home-post-date{
    padding: 3px;
}

.mv-post > a{
    text-decoration: none;
}
.post-inst{
    border: 1px solid rgba(226, 28, 102, 1);
    padding: 5px;
    border-radius: 4px;
    text-transform: capitalize;
    background-image: linear-gradient(90deg, rgba(248, 73, 27, 1) 0%, rgba(241, 47, 63, 1) 25%, rgba(220, 24, 96, 1) 75%);
    -webkit-background-clip: text;
    background-clip: text;
    margin: 0;
    color: transparent;
    cursor: default;
}

.mvpost-details{
    width: 60%;
    padding: 3px;
}

.mvpost-overview{
    display: flex;
}


.artists{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.artists > a{
    margin-top: 20px;
    padding: 20px 10px;
    text-decoration: none;
    display: grid;
    justify-items: center;
}
.artists > a > img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
}
.artists > a > figcaption{
    padding: 5px;
    text-transform: capitalize;
    color: #000;
    font-weight: 300;
}

.ta-h4{
    font-weight: 400;
    font-size: large;
    padding-left: 15px;
}

.morebutton > button{
    padding: 5px 24px;
    background-color: #fff;
    border-color: rgba(226, 28, 102, 1);
    color: rgba(248, 73, 27, 1);
    border-radius: 4px;
    margin-right: 80px;
}

.morebutton{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 10px;
}
.suggestion-feed{
    display: flex;
    flex-direction: row;
    padding: 5px;
    align-items: center;
    text-decoration: none;
    width: 90%;
    margin: 10px auto;
    height: 100px;
}
.suggestion-post-details{
    max-width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #969696;
    text-transform: lowercase;
    font-weight: 300;
}
.suggestion-post-caption{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #000;
    font-weight: 400;
    font-size: 18px;
    text-transform: capitalize;white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

@media screen and (max-width: 1050px){
    .suggestion-content-username{
        display: none;
    }
    .suggestion-content-postuser{
        display: none;
    }
    .post-media-format-display{
        display: none;
    }
}
@media screen and (max-width: 768px){
    .suggestions{
        display: none;
    }
    .sub-explore{
        max-width: 100%;
    }
}