.media{
    width: 65%;
    margin: auto;
    padding: 20px 0;
}

.media-owner-pp{
    width: 55px;
    /* aspect-ratio: 1 / 1; */
    border-radius: 50%;
    height: 55px;
    object-fit: cover;
}

.media-owner-un{
    margin-left: 10px;
    font-size: 16px;
    color: #6e6e6e;
    font-weight: 400;
    /* text-decoration: none; */
}

.media-header{
    display: flex;
    /* margin-top: 5px; */
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.media-header > a{
    display: flex;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
}

.media-thumbnail{
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.media-footer{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}
.editdelete{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: max-content;
}
.editdelete > button{
    background: transparent;
    border: none;
    padding: 10px;
    border-radius: 10px;
    /* width: 40px; */
    /* height: 40px; */
    /* margin: 5px; */
    justify-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #f2f1f1;
    max-width: max-content;
    border-radius: 10px;
    margin-bottom: 20px;
}

.footer-btns > button{
    background: transparent;
    border: none;
    padding: 10px;
    border-radius: 10px;
    /* width: 40px; */
    /* height: 40px; */
    margin: 5px;
    justify-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-btns > button > span.span-controller,.editdelete >button>a{
    padding-left: 5px;
    font-size: 16px;
    color: #6e6e6e;
    text-decoration: none;
}
.footer-btns > button > .icon-controller-class{
    height: 25px;
}
.editdelete >button>a{
    font-size: 14px;
}
.editdelete > button > svg.icon-controller-class{
    height: 20px;
}
button.e-d-button{
    width: 60px;
}
.footer-btns > button > image, .footer-btns > button > a{
    width: 25px;
}

.footer-btns > a{
    padding-left: 5px;
}

.footer-btns > a > img{
    width: 30px;
    height: 30px;
}

.media-type{
    text-decoration: none;
    margin-left: 10px;
    border: 1px solid rgba(226, 28, 102, 1);
    padding: 5px;
    border-radius: 4px;
    text-transform: capitalize;
    background-image: linear-gradient(90deg, rgba(248, 73, 27, 1) 0%, rgba(241, 47, 63, 1) 25%, rgba(220, 24, 96, 1) 75%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: default;
    font-size: 18px;
    font-weight: 500;
}
.media-container{
    width: auto;
    margin: 10px auto;
    border-radius: 10px;
    background: white;
    padding: 10px;
    /* border: 1px solid #ececec; */
    height: auto;
    min-width: 90%;
    max-width: 100%;
    max-height: 500px;
}
.actual-media{
    display: flex;
}
.m-h3{
    display: flex;
    max-width: 80%;
    line-height: 1.5;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}
.media-date{
    color: #969696;
    font-weight: 400;
    font-size: 16px;
}
.media-desc{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 10px 0;
}
.e-d-buttons, .edit-logout > span{
    text-decoration: none;
    color: #707070;
}

@media screen and (max-width: 768px){
    .media{
        width: 100%;
        padding: 20px;
    }
}

.like-animate {
    animation: scale-up 0.3s ease-in-out;
}

@keyframes scale-up {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

/* Common style for the save icon */
/* Save icon styling */
.save-icon {
    height: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Position the + symbol on the top right */
.plus-symbol {
    position: absolute;
    top: -4px;
    left: 24px;
    font-size: 20px;
    color: rgb(241, 67, 43);
    font-weight: bold;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Animate the save button on click */
.save-icon.saved {
    animation: saveScaleUp 0.3s forwards;
}


/* Animate the + symbol when saving */
.plus-symbol.active {
    opacity: 1;
    transform: scale(1.5);
    animation: ease-in 0.3s forwards;
}

/* Keyframes for save icon */
@keyframes saveScaleUp {
    0% {
        transform: translateY(0);
        opacity: 0.5;
    }
    50% {
        transform: translateY(4px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.share-sheet-btn{
    cursor: pointer;
  padding: 1em;
  font-size: 1em;
  aspect-ratio: 1/0.25;
  color: #000;
  background: #fff;
  background-size: cover;
  
  border-radius: 0.5em;
 
  border: 0;
  
}
.pop-up-container{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #0000006b;
    top: 0;
    left: 0;
    z-index: 995;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: none;
}
.pop-up-container.show{
    display: flex;
}
.pop-up{
    border-radius: 10px;
    background: #fff;
    height: max-content;
    max-width: 50%;
    padding: 50px;

}
.pop-up-collab-request{
    color: #646464;
}
.pop-up-collab-request-expl{
    margin: 16px 0;
    font-size: 14px;
    line-height: 22px;
    color: #6e6e6e;
}
.collab-pop-up-button{
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-right: 20px;
    font-size: 16px;
    cursor: pointer;
}
#collab-confirmed{
    color: white;
    background-image: linear-gradient(90deg, rgba(248, 73, 27, 1) 0%, rgba(241, 47, 63, 1) 50%, rgba(220, 24, 96, 1) 100%)
}
#base-plan{
    outline: none;
    margin-bottom: 25px;
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid;
    font-style: italic;
}