.media{
    width: 65%;
    margin: auto;
    padding: 20px 0;
    touch-action: pan-y;
}
.master-div{
    display: flex;
    align-items: center;
}
.media-move-button{
    margin-left: auto;
    margin-right: auto;
    display: flex
;
}
.media-change-button{
    width: 55px;
}
.button-disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.3;
}
.media-owner-pp{
    width: 55px;
    /* aspect-ratio: 1 / 1; */
    border-radius: 50%;
    height: 55px;
    object-fit: cover;
}

.media-owner-un{
    margin-left: 10px;
    font-size: 16px;
    color: #6e6e6e;
    font-weight: 400;
    /* text-decoration: none; */
}

.media-header{
    display: flex;
    /* margin-top: 5px; */
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.media-header > a{
    display: flex;
    text-decoration: none;
    flex-direction: row;
    align-items: center;
}

.media-thumbnail{
    width: 100%;
    border-radius: 8px;
    margin-top: 10px;
}

.media-footer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}
.editdelete{
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: max-content;
}
.editdelete > button{
    background: transparent;
    border: none;
    padding: 10px;
    border-radius: 10px;
    /* width: 40px; */
    /* height: 40px; */
    /* margin: 5px; */
    justify-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-btns{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #f2f1f1;
    max-width: max-content;
    border-radius: 10px;
}

.footer-btns > button{
    background: transparent;
    border: none;
    padding: 10px;
    border-radius: 10px;
    /* width: 40px; */
    /* height: 40px; */
    margin: 5px;
    justify-items: center;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-btns > button > span.span-controller,.editdelete >button>a, .delete-text{
    padding-left: 5px;
    font-size: 16px;
    color: #6e6e6e;
    text-decoration: none;
}
.footer-btns > button > .icon-controller-class{
    height: 25px;
}
.editdelete >button>a, .delete-text{
    font-size: 14px;
}
.editdelete > button > svg.icon-controller-class{
    height: 20px;
}
button.e-d-button{
    width: 60px;
}
.footer-btns > button > image, .footer-btns > button > a{
    width: 25px;
}

.footer-btns > a{
    padding-left: 5px;
}

.footer-btns > a > img{
    width: 30px;
    height: 30px;
}

.media-type{
    text-decoration: none;
    margin-left: 10px;
    border: 1px solid rgba(226, 28, 102, 1);
    padding: 5px;
    border-radius: 4px;
    text-transform: capitalize;
    background-image: linear-gradient(90deg, rgba(248, 73, 27, 1) 0%, rgba(241, 47, 63, 1) 25%, rgba(220, 24, 96, 1) 75%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    cursor: default;
    font-size: 18px;
    font-weight: 500;
}
.media-container{
    width: auto;
    margin: 10px auto;
    border-radius: 10px;
    background: white;
    padding: 10px;
    /* border: 1px solid #ececec; */
    height: auto;
    min-width: 90%;
    max-width: 100%;
    max-height: 500px;
}
.actual-media{
    display: flex;
}
.m-h3{
    display: flex;
    max-width: 80%;
    line-height: 1.5;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    margin-top:20px
}
.media-date{
    color: #969696;
    font-weight: 400;
    font-size: 16px;
}
.media-desc{
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 10px 0;
}
.e-d-buttons, .edit-logout > span{
    text-decoration: none;
    color: #707070;
}

@media screen and (max-width: 768px){
    .media{
        width: 100%;
        padding: 20px;
    }
}

.like-animate {
    animation: scale-up 0.3s ease-in-out;
}

@keyframes scale-up {
    0% {
        transform: scale(0.8);
    }
    50% {
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}

/* Common style for the save icon */
/* Save icon styling */
.save-icon {
    height: 30px;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

/* Position the + symbol on the top right */
.plus-symbol {
    position: absolute;
    top: -4px;
    left: 24px;
    font-size: 20px;
    color: rgb(241, 67, 43);
    font-weight: bold;
    opacity: 0;
    transform: scale(0);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Animate the save button on click */
.save-icon.saved {
    animation: saveScaleUp 0.3s forwards;
}


/* Animate the + symbol when saving */
.plus-symbol.active {
    opacity: 1;
    transform: scale(1.5);
    animation: ease-in 0.3s forwards;
}

/* Keyframes for save icon */
@keyframes saveScaleUp {
    0% {
        transform: translateY(0);
        opacity: 0.5;
    }
    50% {
        transform: translateY(4px);
        opacity: 1;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
.share-sheet-btn{
    cursor: pointer;
  padding: 1em;
  font-size: 1em;
  aspect-ratio: 1/0.25;
  color: #000;
  background: #fff;
  background-size: cover;
  
  border-radius: 0.5em;
 
  border: 0;
  
}
.pop-up-container{
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: #0000008a;
    top: 0;
    left: 0;
    z-index: 995;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    display: none;
}
.pop-up-container.show{
    display: flex;
}
.pop-up{
    border-radius: 10px;
    background: #fff;
    height: max-content;
    max-width: 50%;
    padding: 50px;

}
.pop-up-collab-request{
    color: #646464;
}
.pop-up-collab-request-expl{
    margin: 16px 0;
    font-size: 14px;
    line-height: 22px;
    color: #6e6e6e;
}
.collab-pop-up-button{
    padding: 10px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-right: 12px;
    font-size: 16px;
    cursor: pointer;
}
#collab-confirmed{
    color: white;
    background-image: linear-gradient(90deg, rgba(248, 73, 27, 1) 0%, rgba(241, 47, 63, 1) 50%, rgba(220, 24, 96, 1) 100%)
}
#base-plan{
    outline: none;
    margin-bottom: 25px;
    width: 100%;
    padding: 5px;
    border: 0;
    border-bottom: 1px solid;
    font-style: italic;
}
.collab-heading{
    font-size: 24px;
    font-weight: 300;
    background: linear-gradient(to right, rgba(248, 73, 27, 1), rgba(241, 47, 63, 1), rgba(220, 24, 96, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    width: max-content;
    letter-spacing: -1px;
    margin: 20px 0px;
}
.show_collaborators{
    display: flex
    ;
        gap: 30px;
}
.collaborator-image{
    width: 50px;
    aspect-ratio: 1 / 1;
    border-radius: 5px;
}
.collab-img-span{
    display: flex;
}
.collab-each-div{
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #f6f6f6;
    gap: 10px;
    padding: 10px;
    border-radius: 9px;
    min-width: 190px;
    height: 100%;
}
.collab-nameAndUsername{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
    color: #000000;
}
.collaborator-name{
    font-size: 16px;
    font-weight: 300;
}
.collaborator-username{
    font-size: 14px;
    color: #a6a6a6;
}
.collab-main-link{
    text-decoration: none;
}
.post-thumbnail{
    width: 235px;
    aspect-ratio: 16 / 10;
    border-radius: 5px;
    object-fit: cover;
}
.random-post-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.random-each-post-container{
    border: 0.5px solid #e2e2e2f5;
    text-decoration: none;
    background: #efefef61;
    max-width: min-content;
    margin: 10px;
    padding: 10px;
    /* width: 300px; */
    overflow: hidden;
    border-radius: 5px;
}
.post-caption{
    font-size: 16px;
    color: #000;
    margin: 8px 0px;
    font-weight: 400;
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.post-description{
    text-overflow: ellipsis;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    overflow: hidden;
    font-size: 14px;
    color: #a2a2a2;
}
.random-post-heading{
    font-weight: 200;
    letter-spacing: -1px;
    color: #8d8d8d;
    margin: 50px 0px 25px 10px;
}
button.option-3-dots{
    background: none;
    border: none;
}
.editdelete-tDot{
    display: none;
}
.t-dot-menu{
    width: 5px;
}
.dropdown-menu {
    position: absolute;
    display: none;
    z-index: 1000;
    background-color: #e9e9e9f0;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}
.dropdown-menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dropdown-menu li {
    padding: 10px;
    cursor: pointer;
    transition: background 0.3s;
    display: flex
    ;
        align-items: center;
}
.dropdown-menu button{
    display: flex
;
    width: 100%;
    border: none;
    background: none;
}

.dropdown-menu svg{
    width: 15px;
}
/* Dropdown Menu Links */
.dropdown-menu a {
    text-decoration: none;
    color: #313131;
    display: block;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    margin-left: 7px;
}
#redFlag{
    display: none;
}
#redFlag svg {
    width: 22px;
    height: auto;
}
@media screen and (max-width: 1334px) {
    #report-web{
        display: none;
    }
    #redFlag{
        display: flex;
    }
    .dropdown-menu{
        top: 616px;
    right: 202px;
    }
}
@media screen and (max-width: 768px) {
    .post-thumbnail{
        max-width: 200px;
    }
    .random-post-container{
        justify-content: flex-start;
    }
    .dropdown-menu{
        top: 713px;
        right: 317px;
    }
}
@media screen and (max-width: 480px) {
    .editdelete{
        display: none;
    }
    .editdelete-tDot{
        display: block;
    }
    .delete-modal-content, .pop-up{
        max-width: 85%;
    padding: 35px;
    }
    .dropdown-menu{
        top: 550px;
        right: 66px;
    }
    .media-owner-pp{
        height: 45px;
        width: 45px;
    }
    .post-thumbnail {
        max-width: 170px;
    }
    .media-change-button{
        display: none;
    }
}
.swipe-indicator {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    gap: 8px;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 12px;
    opacity: 0;
    transition: opacity 0.3s;
}

.swipe-indicator.visible {
    opacity: 1;
}