

  ::before,
  ::after {
    box-sizing: inherit;
  }
.imgcenter {
    margin-left: auto;
    margin-right: auto;
    width: 130px;
    /* height: 125px; */
    aspect-ratio: 1;
    border-radius: 50%;
    object-fit: cover;
}

.header{
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 10px;
    padding-bottom:20px;
    gap: 20px;
    width: 100%;
    display: flex
;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.follow-btn.unfollow{
    color: #d2d2d2;
    background-color: #404040;
}
#centralize{
    justify-content: center;
}
.profile-details-container{
    display: flex
;
    flex-direction: row;
    align-items: center;
    gap: 30px;
}
.vertical-line{
    width: 1px;
    height: 120px;
    background: #717171;
}
.details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
p#profile-name{
    margin: 0px;
    font-size: 35px;
    letter-spacing: -1px;
    font-weight: 300;
}
p#user-name-id{
    margin: 0;
    color: #969696;
    font-size: 14px;
    font-weight: 300;
}
.follow-count{
    display: flex
;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
    gap: 5px;
}
#follower-count{
    background: linear-gradient(to right, rgba(248, 73, 27, 1), rgba(241, 47, 63, 1), rgba(220, 24, 96, 1));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    font-size: 28px;
    letter-spacing: -1px;
}
#follower-text{
    color: #b8b8b8;
    font-size: 14px;
    font-weight: 300;
}
.followers{
    display: flex
;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
.follow-btn{
    background-color: rgb(255 255 255);
    color: #000000;
    padding: 5px 23px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
    margin-top: 2px;
    margin-bottom: 2px;
    font-weight: 600;
}

.socials{
    margin-left: 90%;
}
.socials > *{
    padding: 5px;
    
    img{
        width: 18px;
        aspect-ratio: 1;
        object-fit: contain;
    }
}

.body{
    text-align: center;
    padding: 5px 10%;
}
p#desc{
    color: #707070;
    font-size: 14px;
    line-height: 1.6;
    font-style: italic;
    margin: 20px 0px;
}
.profile-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.mailbio {
    font-size: 12px;
    font-weight: 300;
    color: #579fdd;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.mailbio::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 1px;
    width: 100%;
    opacity: 0;
    background-color: #3d729f;
    transition: opacity 0.3s ease-in-out;
}

.mailbio:hover::after {
    opacity: 1;
}
.edit-logout{
    margin-left: auto;
    padding-right: 20px;
}
.e-l-buttons, .edit-logout > span{
    text-decoration: none;
    color: #8b8b8b;
    font-size: 12px;
}

.profile-content-buttons{
    padding: 10px 24px;
    margin: 0 10px;
    background-image: linear-gradient(90deg, rgba(248, 73, 27, 1) 0%, rgba(241, 47, 63, 1) 50%, rgba(220, 24, 96, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    border: 1px solid rgba(226, 28, 102, 1);
    border-radius: 5px;
    font-size: 16px;
    width: 18%;
    min-width: max-content;
    cursor: pointer;
    text-decoration: none;
    text-transform: uppercase;
}
.profile-content-buttons.active{
    background: linear-gradient(90deg, rgba(248, 73, 27, 1) 0%, rgba(241, 47, 63, 1) 50%, rgba(220, 24, 96, 1) 100%);
    color: white;
}

.post1{
    background: url(images.png);
    width: 120px;
    height: 250px;
    padding-left: 50px;
    margin-bottom: 5px;
    border-radius: 4px;
}


.posts{ 
    display: flex;
    flex-direction: column;
    color: #fff;
    padding-top: 15px;
    justify-content: flex-start;
}
.post-row{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 10px;
}

.posts h4{
    color: #fff;
}

.posts h3{
    color: rgba(248, 73, 27, 1);
    
}
.post-thumbnail{
    width: 100%;
    /* height: 350px; */
    object-fit: cover;
    aspect-ratio: 450 / 600;
}
.thumbnail-container {
    position: relative;
    max-width: 15em;
    /* height: 350px; */
    border-radius: 10px;
    overflow: hidden;
    flex: 1 1 calc(25% - 20px);
}

.thumbnail-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gradient-overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, black, transparent);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    /* padding: 0 0 20px 20px; */
    color: white;
    align-items: flex-start;
}
.padding-controll{
    padding: 0 10px 15px 10px;
    text-align: start;
    /* width: 90%; */
}

.video-caption {
    font-size: 1.2em;
    margin: 0;
    text-transform:capitalize;
    text-overflow: ellipsis;
    /* max-width: 90%; */
    -webkit-box-orient: vertical;
    display: -webkit-box; 
    -webkit-line-clamp: 1;
    overflow: hidden;
}
.video-caption::first-letter{
    text-transform: uppercase;
}

.video-description {
    font-size: 0.7em;
    margin: 10px 0;
    /* height: 40px; */
    /* width: 100%; */
    text-overflow: ellipsis;
    /* max-width: 90%; */
    -webkit-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.instrument-used {
    font-size: 1.2em;
    /* color: #ff4c4c; */
    background-image: linear-gradient(90deg, rgba(248, 73, 27, 1) 0%, rgba(241, 47, 63, 1) 50%, rgba(220, 24, 96, 1) 100%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin: 0;
    text-overflow: ellipsis;
    max-width: 90%;
    overflow: hidden;
    text-transform: uppercase;
}
.each-saved-footer{
    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-start;
    margin: 0;
}
.profile-content{
    display: flex;
    justify-content: center;
}
.menu-button {
    font-size: 24px;
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
    margin: 0;
    color: white;
    margin-top: 15px;
}
.three-dot-menu {
    position: relative;
    display: none;
}
.menu-options {
    display: none;
    position: absolute;
    top: 45px;
    right: 10px;
    background-color: #2f2f2fed;
    /* border: 1px solid #dcdcdc; */
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 120px;
}
.menu-options a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    font-size: 14px;
    letter-spacing: -0.5px;
}
.three-dot-menu.active .menu-options {
    display: block;
}
/* #post-wrapper{
    flex: 0 0 25%;
} */
/* #post-wrapper:not(:last-child) {
    margin-right: 10px;
  } */
  @media screen and (max-width: 1050px){
    .video-description{
        font-size: 0.6em;
        -webkit-line-clamp: 2;
    }
    .video-caption{
        font-size: 1em;
    }
    .instrument-used{
        font-size: 1em;
    }
    
}
@media screen and (max-width: 768px){
    .socials{
        margin-left: 0;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    .profile-content-buttons{
        padding: 8px 28px;
        font-size: 16px;
    }
    .instrument-used{
        max-width: 50%;
    }
    .three-dot-menu{
        display: inline-block;
    }
    .e-l-buttons, span#spacer{
        display: none;
    }
    .imgcenter{
        width: 100px;
    }
    p#profile-name{
        font-size: 26px;
    }
    .header{
        height: auto;
    }
}
@media screen and (max-width: 480px){
    .post-row {
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;
        padding: 10px 0;
    }
    #iscollab{
        width: 25px;
        border-radius: 8px;
    }
}
.saved-thumbnail-display-username{
    text-overflow: ellipsis;
    overflow: hidden;
    text-transform: uppercase;
}
#iscollab{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 30px;
    border-radius: 10px;
}