
.imgcenter {
    margin-left: auto;
    margin-right: auto;
    width: 125px;
    height: 125px;
    border-radius: 50%;
}

.header{
    background-color: #000;
    color: #fff;
    text-align: center;
    height: 300px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
}

p#profile-name{
    margin: 0px;
    font-size: 35px;
    padding: 10px;
}
p#user-name-id{
    margin: 0;
    color: #969696;
}

.socials{
    margin-left: auto;
    padding: 10px;
}
.socials > *{
    padding: 5px;
    
    img{
        width: 13%;
        aspect-ratio: 3 / 2;
        object-fit: contain;
    }
}

.body{
    text-align: center;
    padding: 5px 10%;
}
p#desc{
    color: #707070;
    font-size: 15px;
    font-style: italic;
}

.mailbio{
    padding: 15px;
    font-size: 15px;
    color: black;

}

.profile-content-buttons{
    padding: 10px 24px;
    margin: 0 20px;
    background-image: linear-gradient(90deg, rgba(248, 73, 27, 1) 0%, rgba(241, 47, 63, 1) 50%, rgba(220, 24, 96, 1) 100%);
    -webkit-background-clip: text; /* Clip the background to the text */
    background-clip: text;
    color: transparent; 
    border: 1px solid rgba(226, 28, 102, 1);
    border-radius: 10px;
    font-size: 20px;
    width: 15%;
    min-width: fit-content;
    cursor: pointer;
}
.profile-content-buttons:focus{
    background: linear-gradient(90deg, rgba(248, 73, 27, 1) 0%, rgba(241, 47, 63, 1) 50%, rgba(220, 24, 96, 1) 100%);
    color: white;
}

.post1{
    background: url(images.png);
    width: 120px;
    height: 250px;
    padding-left: 50px;
    margin-bottom: 5px;
    border-radius: 4px;
}


.posts{ 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    color: #fff;
    padding-top: 15px;
}

.posts h4{
    color: #fff;
}

.posts h3{
    color: rgba(248, 73, 27, 1);
    
}

@media screen and (max-width: 768px){
    .socials{
        margin-left: 0;
        img{
            width: 10%;
        }
    }
    .profile-content-buttons{
        padding: 8px 28px;
        font-size: 16px;
    }
}
