{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products | Account</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/logstyle.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body>
    <div class="container">
        <div class="navbar">
            
            <div class="logo">
                <a href="index.html"><img src="{% static 'images/Media.png' %}" alt="logo" width="125px"></a>
            </div>
            <div id="cmname">Sounz</div>
            <nav>
                <ul id="MenuItems">
                    <li>Start your music journey today</li>
                    
                </ul>
            </nav>
            
            <img src="{% static 'images/menu.png' %}" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>

    <!-- Account Page -->
    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'images/musc.png' %}" width="100%">
                </div>
                <div class="col-2">
                    <div class="form-container">
                        <div class="form-btn">
                            <span onclick="login()">Login</span>
                        </div>
                        <form id="LogForm" method="post">
                            {% csrf_token %}
                            <input name="username" type="text" placeholder="Username" id="username">
                            <input name="password" type="password" placeholder="Password" id="password">
                            <button type="submit" class="btn">Login</button>
                            <a href="">Forgot Password</a>
                            <br>
                            <a href="{% url 'reg2' %}" style="color: rgb(240, 112, 15);">Signup</a>
                            
                            
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <div class="footer">
        <div class="container">
           
            <div class="footer-col-4">
                <p>Create . Collaborate . Connect
                </p>
                <br>
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
            <hr>
        </div>
    </div>

    <!-- javascript -->



    
    

    <!---Validate Form-->
    <script>
        function validateForm() {
            var username = document.getElementById("username").value;
            var email = document.getElementById("email").value;
            var password = document.getElementById("password").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            if (username == "") {
                alert("Username cannot be empty");
                return false;
            }

            if (password == "") {
                alert("Password cannot be empty");
                return false;
            }
            if (email == "") {
                alert("email cannot be empty");
                return false;
            }

            if (confirmPassword == "") {
                alert("Confirm Password cannot be empty");
                return false;
            }

            if (password!= confirmPassword) {
                alert("Passwords do not match");
                return false;
            }

            return true;
        }
    </script>

</body>

</html>