{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Sounz{% endblock %}</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base-file.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <script src="{% static 'js/base-file.js' %}"></script>
    <script src="{% static 'js/search-box.js' %}"></script>
    {% block additional_css %}{% endblock %}
    {% block additional_js %}{% endblock %}
</head>
<body>
    {% if user %}
    <div class="main-docker">
        <div class="nav-section-web">
            <nav class="navigation-controlling-deck">
                <a href="#"><img class="navbar-control-icons" id="navbar-main-logo" src="{% static 'images/Sounz_logo.svg' %}" alt="Sounz logo"></a>
                <div id="nav-separator"></div>
                
                <a href="{% url 'profile' %}"><img class="navbar-control-icons" id="navbar-user-profile-pic" src="{{user.profile_picture.url}}" alt="" width="10px" height="40px"></a>
                <a href="#"><img id="search-icon" class="navbar-control-icons" src="{% static 'images/Search button.svg' %}" alt="Search icon"></a>
                <a href="{% url 'upload' %}"><img class="navbar-control-icons" src="{% static 'images/upload-white.svg' %}" alt="Upload icon"></a>
                <a href="{% url 'nav-saved' %}"><img class="navbar-control-icons" src="{% static 'images/save.svg' %}" alt="Save icon"></a>
                
            </nav>
        </div>
        <div class="menu-toggle" onclick="toggleMenu()">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <div class="blinder"></div>
        <div class="nav-section-mobile">
            <nav class="navigation-controlling-deck">
                <a href="#" class="navbar-links"v><img class="navbar-control-icons" id="navbar-main-logo" src="{% static 'images/Sounz_logo.svg' %}" alt="Sounz logo"><span class="nav-tooltip">Sounz</span></a>
                <div id="nav-separator"></div>
                <a href="#" class="navbar-links"><img class="navbar-control-icons" id="navbar-user-profile-pic" src="{% static 'images/profile-picture-specimen.png' %}" alt=""><span class="nav-tooltip">Name</span></a>
                <hr class="navbar-line">
                <a href="#" class="navbar-links" id="search-icon-mob"><img class="navbar-control-icons" src="{% static 'images/Search button.svg' %}" alt="Search icon"><span class="nav-tooltip">Search</span></a>
                <hr class="navbar-line">
                <a href="{% url 'upload' %}" class="navbar-links"><img class="navbar-control-icons" src="{% static 'images/upload-white.svg' %}" alt="Upload icon"><span class="nav-tooltip">Upload</span></a>
                <hr class="navbar-line">
                <a href="{% url 'nav-saved' %}" class="navbar-links"><img class="navbar-control-icons" src="{% static 'images/save.svg' %}" alt="Save icon"><span class="nav-tooltip">Saved</span></a>
                <hr class="navbar-line">
            </nav>
        </div>
        <div class="export-htmls">
            {% block content %}
            {% endblock %}
        </div>
    </div>
    {% endif %}
</body>
</html>