{% extends 'base.html' %}
{% load static %}
{% block title %}Sounz{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
{% endblock %}

{% block content %}
{% if user %}
<div class="header-for-home">{% include 'header-base-sub.html' %}</div>
<div class="form-main-container">
    
    <h1 class="upload-head">Edit post</h1>
    <form method="post" enctype="multipart/form-data" id="upload_form">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="prompt-message" data-message="{% if prompt_message %}{{ prompt_message }}{% endif %}" style="display: none;"></div>
        
         <div class="upload-postDetails">
            <input required type="text" id="title" name="title" placeholder="Caption">
            <input required type="text" id="post_description" name="post_description" placeholder="Description"></input>
            <select id="media_type" name="media_type">
                <option selected value="Audio">Audio</option>
                <option value="Video">Video</option>
            </select>
            <input required type="text" id="tags" name="tags" placeholder="Media type ('vocals' 'guitar' 'piano' etc..)">
            <input type="text" id="language" name="language" placeholder="Language (optional)">
            <input type="text" name="location" id="location" placeholder="Location (optional)">
            <button type="submit" class="btn" id="upload-publishBtn">Edit</button>
        </div>
    </form>
    
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var promptMessageElement = document.getElementById('prompt-message');
        var promptMessage = promptMessageElement.getAttribute('data-message');
        if (promptMessage) {
            alert(promptMessage);
        }
    });
    document.getElementById('post_input').addEventListener('change', function(event) {
            var fileInput = document.getElementById('post_input');
            var fileSelected = document.getElementById('upload-postText');
            var filenameDisplay = document.getElementById('support-postText');
            var uploadLogo = document.getElementById('upload-button-logo');
            var file = fileInput.files[0];

            if (file) {
                fileSelected.innerText = 'File Selected';
                filenameDisplay.innerText = file.name;
                uploadLogo.src = "{% static 'images/success.svg' %}";
            } else {
                filenameDisplay.textContent = 'No file selected';
            }
        });
    document.getElementById('thumbnail_input').addEventListener('change', function(event) {
            var fileInput = document.getElementById('thumbnail_input');
            var thumbnailMessage = document.getElementById('thumbnail-upload-btn');
            var file = fileInput.files[0];

            if (file) {
                thumbnailMessage.innerText = 'Thumbnail: ' + file.name;
            } else {
                thumbnailMessage.innerText = 'File Error!';
            }
        });
</script>
{% endif %}
{% endblock %}