{% extends 'base.html' %}
{% load static %}
{% block title %}Sounz{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/logstyle.css' %}">
{% endblock %}

{% block content %}
    <div class="header-for-home">{% include 'header-base-sub.html' %}</div>
        
    <!-- Account Page -->
    <div class="account-page">
        <div class="container-reg">
            <div class="row">
                {% if user %}
                
                <div class="col-2">
                    <div class="reg-form-main-container">
                        <div class="form-btn">
                            <p class="register-label">Edit Profile</p>
                            <!-- <hr id="Indicatoreg"> -->
                        </div>
                        

                        <form id="RegForm" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ form.as_p }}
                            {% if prompt_message %}
                            <div>{{ prompt_message }}</div>
                            {% endif %}
                            
            
                            
                            <input type="text" placeholder="{{ user.firstname }}" name="first_name">
                            <input type="text" placeholder="{{ user.lastname }}" name="last_name">
                            <input type="email" placeholder="{{ user.email }}" id="email" name="email">
                            <input type="url" placeholder="Add instagram profile link" id="email" name="insta">
                            <input type="url" placeholder="Add Youtube channel link" id="email" name="yout">
                            <input type="url" placeholder="Add X profile link" id="email" name="twit">
                            <input type="file" name="profile_picture" id="profile_picture_input" accept="image/*" style="display: none;">
                            <button type="button" onclick="document.getElementById('profile_picture_input').click();" class="dp-btn" id="dp-upload-btn"><span class="uploadLogo"><img id="upload-dp-img" src="{% static 'images/upload.svg' %}" alt="upload profile picture"></span><span class="dp-upload-label">Change your profile picture</span></button>
                            <!-- <button type="button" onclick="document.getElementById('profile_picture_input').click();" class="btn">Change Profile Picture</button> -->
                              
                            
    
                            {% if user.user_bio == "" %}
                            
                                <textarea name="bio" rows="5" cols="30" name="text" placeholder="User Bio"></textarea>
                            {% else %}
                                <textarea name="bio" rows="5" cols="30" name="text" placeholder="{{ user.user_bio }}"></textarea>
                            {% endif %}
                            <button type="submit" class="btn">Update Profile</button>
                        </form>
                    </div>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <!-- <div class="footer">
        <div class="container">
           
            <div class="footer-col-4">
                <p>Create . Collaborate . Connect
                </p>
                <br>
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
            <hr>
        </div>
    </div> -->
    {% endblock %}