{% extends 'base.html' %}
{% load static %}
{% block title %}Sounz{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
{% endblock %}

{% block content %}
{% if user %}
<div class="header-for-home">{% include 'header-base-sub.html' %}</div>
<div class="form-main-container">
    
    <h1 class="upload-head">Edit post</h1>
    <form method="post" enctype="multipart/form-data" id="upload_form">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="prompt-message" data-message="{% if prompt_message %}{{ prompt_message }}{% endif %}" style="display: none;"></div>
        
         <div class="upload-postDetails">
            <input required type="text" id="title" name="title" placeholder="Caption">
            <input required type="text" id="post_description" name="post_description" placeholder="Description"></input>
            <select id="media_type" name="media_type">
                <option selected value="Audio">Audio</option>
                <option value="Video">Video</option>
            </select>
            <input required type="text" id="tags" name="tags" placeholder="Media type ('vocals' 'guitar' 'piano' etc..)">
            <label for="">
                <input type="checkbox" id="media_visibility_control">
                Make media private?
            </label>
            <input type="text" id="language" name="language" placeholder="Language (optional)">
            <input type="text" name="location" id="location" placeholder="Location (optional)">
            <button onclick="editPost()" class="btn" id="upload-publishBtn">Edit</button>
        </div>
    </form>
    
</div>
<script></script>
{% endif %}
{% endblock %}