{% extends 'base.html' %}
{% load static %}
{% block title %}Sounz{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    {% if allusers %}
    {% if user %}
    
    <div class="header-for-home">{% include 'header_base.html' %}</div>
    <div class="search-expl">
        <center>
            <h1 id="explr-or-comnty" class="explr-or-comnty">Explore our community</h1>
        </center>
        <center>
            <div class="search-container" id="search-container">
                <img id="search-logo" src="{% static 'images/search-icon.svg' %}" alt="">
                <input type="text" name="search-input" class="search-input" placeholder="Search...">
            </div>
        </center>
    </div>
    
    <div class="main-explore">
        <div class="sub-explore">
            <div class="homefeed">
                <div class="home-post-header">
                    <a href="{% url 'watch-profile' %}">
                        <img src="{% static 'images/profile-picture-specimen.png' %}" class="post-owner-profilepic" alt="" width="50px" style="border-radius: 50%;">
                        <p class="post-owner-username">@username_123</p>
                    </a>
                    <p class="home-post-date">date</p>
                </div>
                <a href="{% url 'media' %}">
                    <div class="post-overview">
                        <div class="post-details">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                lacus mauris, gravida in metus at, consectetur blandit nisl. 
                                Sed cursus tristique enim, vel condimentum nunc finibus et. 
                                sachb jsdvb...
                            </p>
                        </div>
                        <img src="{% static 'images/post-thumbnail.png' %}" alt="" class="post-thumbnail" style="border-radius: 8px;">
                    </div>
                </a>
                <div class="home-post-footer">
                    <div class="post-footer-buttons">
                        <a href=""><img src="{% static 'images/Like.svg' %}" alt="" width="40px"></a>
                        <a href=""><img src="{% static 'images/saved-black.svg' %}" alt="" width="40px"></a>
                        <a href=""><img src="{% static 'images/share.svg' %}" alt="" width="40px"></a>
                        <a href="{% url 'email' %}"><img src="{% static 'images/Collab-long-logo.svg' %}" alt="" width="133px"></a>
                    </div>
                </div>
            </div>
            <div class="homefeed">
                <div class="home-post-header">
                    <a href="{% url 'watch-profile' %}">
                        <img src="{% static 'images/profile-picture-specimen.png' %}" class="post-owner-profilepic" alt="" width="50px" style="border-radius: 50%;">
                        <p class="post-owner-username">@username_123</p>
                    </a>
                    <p class="home-post-date">date</p>
                </div>
                <a href="{% url 'media' %}">
                    <div class="post-overview">
                        <div class="post-details">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                lacus mauris, gravida in metus at, consectetur blandit nisl. 
                                Sed cursus tristique enim, vel condimentum nunc finibus et. 
                                sachb jsdvb...
                            </p>
                        </div>
                        <img src="{% static 'images/post-thumbnail.png' %}" alt="" class="post-thumbnail" style="border-radius: 8px;">
                    </div>
                </a>
                <div class="home-post-footer">
                    <div class="post-footer-buttons">
                        <a href=""><img src="{% static 'images/Like.svg' %}" alt="" width="40px"></a>
                        <a href=""><img src="{% static 'images/saved-black.svg' %}" alt="" width="40px"></a>
                        <a href=""><img src="{% static 'images/share.svg' %}" alt="" width="40px"></a>
                        <a href="{% url 'email' %}"><img src="{% static 'images/Collab-long-logo.svg' %}" alt="" width="133px"></a>
                    </div>
                </div>
            </div>
            <div class="homefeed">
                <div class="home-post-header">
                    <a href="{% url 'watch-profile' %}">
                        <img src="{% static 'images/profile-picture-specimen.png' %}" class="post-owner-profilepic" alt="" width="50px" style="border-radius: 50%;">
                        <p class="post-owner-username">@username_123</p>
                    </a>
                    <p class="home-post-date">date</p>
                </div>
                <a href="{% url 'media' %}">
                    <div class="post-overview">
                        <div class="post-details">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                lacus mauris, gravida in metus at, consectetur blandit nisl. 
                                Sed cursus tristique enim, vel condimentum nunc finibus et. 
                                sachb jsdvb...
                            </p>
                        </div>
                        <img src="{% static 'images/post-thumbnail.png' %}" alt="" class="post-thumbnail" style="border-radius: 8px;">
                    </div>
                </a>
                <div class="home-post-footer">
                    <div class="post-footer-buttons">
                        <a href=""><img src="{% static 'images/Like.svg' %}" alt="" width="40px"></a>
                        <a href=""><img src="{% static 'images/saved-black.svg' %}" alt="" width="40px"></a>
                        <a href=""><img src="{% static 'images/share.svg' %}" alt="" width="40px"></a>
                        <a href="{% url 'email' %}"><img src="{% static 'images/Collab-long-logo.svg' %}" alt="" width="133px"></a>
                    </div>
                </div>
            </div>
            <div class="homefeed">
                <div class="home-post-header">
                    <a href="{% url 'watch-profile' %}">
                        <img src="{% static 'images/profile-picture-specimen.png' %}" class="post-owner-profilepic" alt="" width="50px" style="border-radius: 50%;">
                        <p class="post-owner-username">@username_123</p>
                    </a>
                    <p class="home-post-date">date</p>
                </div>
                <a href="{% url 'media' %}">
                    <div class="post-overview">
                        <div class="post-details">
                            <h3>Lorem ipsum dolor sit amet</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                                lacus mauris, gravida in metus at, consectetur blandit nisl. 
                                Sed cursus tristique enim, vel condimentum nunc finibus et. 
                                sachb jsdvb...
                            </p>
                        </div>
                        <img src="{% static 'images/post-thumbnail.png' %}" alt="" class="post-thumbnail" style="border-radius: 8px;">
                    </div>
                </a>
                <div class="home-post-footer">
                    <div class="post-footer-buttons">
                        <a href=""><img src="{% static 'images/Like.svg' %}" alt="" width="40px"></a>
                        <a href=""><img src="{% static 'images/saved-black.svg' %}" alt="" width="40px"></a>
                        <a href=""><img src="{% static 'images/share.svg' %}" alt="" width="40px"></a>
                        <a href="{% url 'email' %}"><img src="{% static 'images/Collab-long-logo.svg' %}" alt="" width="133px"></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="suggestions">
            <div class="mostviewed">
                <h4 class="mv-h4">Most viewed</h4>
                <div class="mv-post">
                    <div class="mv-post-header">
                        <a href="{% url 'watch-profile' %}">
                            <img src="{% static 'images/profile-picture-specimen.png' %}" class="post-owner-profilepic" alt="" width="25px" height="25px" style="border-radius: 50%;">
                            <p class="post-owner-username">@username_123</p>
                        </a>
                        <p class="home-post-date">date</p>
                    </div>
                    <a href="{% url 'media' %}">
                        <div class="mvpost-overview">
                            <div class="mvpost-details">
                                <h3>Lorem ipsum dolor sit amet</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <img src="{% static 'images/post-thumbnail.png' %}" alt="" class="mvpost-thumbnail" style="border-radius: 8px;">
                        </div>
                    </a>
                </div>
                <div class="mv-post">
                    <div class="mv-post-header">
                        <a href="{% url 'watch-profile' %}">
                            <img src="{% static 'images/profile-picture-specimen.png' %}" class="post-owner-profilepic" alt="" width="25px" height="25px" style="border-radius: 50%;">
                            <p class="post-owner-username">@username_123</p>
                        </a>
                        <p class="home-post-date">date</p>
                    </div>
                    <a href="{% url 'media' %}">
                        <div class="mvpost-overview">
                            <div class="mvpost-details">
                                <h3>Lorem ipsum dolor sit amet</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <img src="{% static 'images/post-thumbnail.png' %}" alt="" class="mvpost-thumbnail" style="border-radius: 8px;">
                        </div>
                    </a>
                </div>
                <div class="mv-post">
                    <div class="mv-post-header">
                        <a href="{% url 'watch-profile' %}">
                            <img src="{% static 'images/profile-picture-specimen.png' %}" class="post-owner-profilepic" alt="" width="25px" height="25px" style="border-radius: 50%;">
                            <p class="post-owner-username">@username_123</p>
                        </a>
                        <p class="home-post-date">date</p>
                    </div>
                    <a href="{% url 'media' %}">
                        <div class="mvpost-overview">
                            <div class="mvpost-details">
                                <h3>Lorem ipsum dolor sit amet</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                            </div>
                            <img src="{% static 'images/post-thumbnail.png' %}" alt="" class="mvpost-thumbnail" style="border-radius: 8px;">
                        </div>
                    </a>
                </div>
            </div>
            <div class="top-artists">
                <h4 class="ta-h4">Our Top Artists</h4>
                <div class="artists">
                    <a href="{% url 'watch-profile' %}" class="artist-details">
                        <img src="{% static 'images/profile-picture-specimen.png' %}" alt="" width="60px">
                        <figcaption>Name Art</figcaption>
                    </a>
                    <a href="{% url 'watch-profile' %}" class="artist-details">
                        <img src="{% static 'images/profile-picture-specimen.png' %}" alt="" width="60px">
                        <figcaption>Name Art</figcaption>
                    </a>
                    <a href="{% url 'watch-profile' %}" class="artist-details">
                        <img src="{% static 'images/profile-picture-specimen.png' %}" alt="" width="60px">
                        <figcaption>Name Art</figcaption>
                    </a>
                    <a href="{% url 'watch-profile' %}" class="artist-details">
                        <img src="{% static 'images/profile-picture-specimen.png' %}" alt="" width="60px">
                        <figcaption>Name Art</figcaption>
                    </a>
                    <a href="{% url 'watch-profile' %}" class="artist-details">
                        <img src="{% static 'images/profile-picture-specimen.png' %}" alt="" width="60px">
                        <figcaption>Name Art</figcaption>
                    </a>
                    <a href="{% url 'watch-profile' %}" class="artist-details">
                        <img src="{% static 'images/profile-picture-specimen.png' %}" alt="" width="60px">
                        <figcaption>Name Art</figcaption>
                    </a>
                </div>
            </div>
            <div class="morebutton">
                <button>More</button>
            </div>
        </div>
    </div>
{% endif %}
{% endif %}    
{% endblock %}