{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sounz</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/log-new.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
    
</head>

<body>
    <div class="log-main-container">
        <div class="main-left-section">
            <h1 class="sounz-title">Sounz.</h1>
        </div>
        <div class="main-right-section">
            <form id="login-form" method="post" class="login-main-form"  onsubmit="return validateForm()">
                <p class="login-form-header"><span class="login-form-title">Log in</span>
                    <span class="login-register-redirect"><a href="{% url 'registration-new' %}">New user? Register now!</a></span></p>
                {% csrf_token %}
                {% if prompt_message %}
                    <div class="prompt-message">{{ prompt_message }}</div>
                {% endif %} 
                <label for="username">USERNAME</label>
                <span id="username-error" class="error-message"></span>
                <input name="username" type="text" placeholder="Username" id="username">
                <label for="password">PASSWORD <span class="show-hide-label" id="show-hide-label" onclick="togglePassword()">:: show</span> </label>
                <span id="password-error" class="error-message"></span>
                <input name="password" type="password" placeholder="Password" id="password">
                <button type="submit" class="login-submit-button">Login</button>
            </form>
        </div>
    </div>
</body>
<script>
function togglePassword(id = 'password') {
    var passwordField = document.getElementById('password');
    var toggleText = document.getElementById('show-hide-label');

    if (passwordField.type === "password") {
        passwordField.type = "text";
        toggleText.innerText = ":: hide";
    } else {
        passwordField.type = "password";
        toggleText.innerText = ":: show";
    }
}
function validateForm() {
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;
            var isValid = true;

            if (username === "") {
                document.getElementById('username-error').innerText = "* username is required";
                isValid = false;
            } else {
                document.getElementById('username-error').innerText = "";
            }

            if (password === "") {
                document.getElementById('password-error').innerText = "* password is required";
                isValid = false;
            } else {
                document.getElementById('password-error').innerText = "";
            }

            return isValid;
        }
</script>
</html>