{% extends 'base.html' %}
{% load static %}
{% block title %}Sounz{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/media.css' %}">
{% endblock %}

{% block content %}
    <div class="header-for-home">{% include 'header_base.html' %}</div>
    {% if user %}
    {% if post %}
    {% if puser %}
    <div class="media">
        <div class="media-header">
            <a href="{% url 'watch-profile' %}">
                <img src="{{puser.profile_picture.url}}" class="media-owner-pp" alt="">
                <p class="media-owner-un">{{post.username}}</p>
            </a>
            <a href="{% url 'email' %}" class="collab"><img src="{% static 'images/Collab-long-logo.svg' %}" alt=""></a>
        </div>
        <div class="actual-media">
            
            <video width="640" height="360" controls>
                <source src="{{post.media.url}}" type="video/mp4" >
                Your browser does not support the audio element
                <audio controls>
                    <source src="{{post.media.url}}" type="audio/mpeg" >
                    Your browser does not support the audio element
                </audio>
            </video>
            
        </div>
        <div class="media-footer">
            <h3 class="m-h3">{{post.caption}}<a href="" class="media-type">{{post.mediatype}}</a> </h3>
            <div class="footer-btns">
                
            </div>
        </div>
        <p class="media-date">date</p>
        <div class="media-desc">
            <p class="media-caption">
                {{post.descr}}
            </p>
            <br>
            
        </div>
    </div>
    {% endif %}
    {% endif %}
    {% endif %}
{% endblock %}