{% extends 'base.html' %}
{% load static %}
{% block title %}Sounz{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/notification.css' %}">
{% endblock %}
{% block content %}
<div class="header-for-home">{% include 'header-base-sub.html' %}</div>
<div class="notification-window">
    <div class="container">
        <div class="notification-header">
            <h2>Notifications</h2>
            <p class="sub-heading">Stay updated with the latest notifications</p>
            <span class="under-line"></span>
        </div>

        {% if notifications %}
            <ul class="notification-list">
                {% for notification in notifications %}
                <li class="notification">
                        {% if notification.notification_type == "like" %}
                            <div class="like">
                            <strong>{{ notification.sender.username }}</strong>
                            liked your post: <strong>{{ notification.post.caption }}</strong>
                            <span class="timestamp">{{ notification.timestamp|date:"F j Y, g:i a" }}</span>
                        </div>
                        {% elif notification.notification_type == "flagged" %}
                            <div class="flagged">
                            Your post <strong>{{ notification.post.caption }}</strong> has been flagged.
                            <p><strong>Reason:</strong> {{ notification.message }}</p>
                            <a class="view-post-btn" href="{% url 'media' %}?pid={{ notification.post.pid }}">View Post</a>
                            <span class="timestamp">{{ notification.timestamp|date:"F j Y, g:i a" }}</span>
                        </div>
                        {% endif %}  
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No notifications yet.</p>
        {% endif %}
    </div>
</div>
{% endblock %}
