{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/profile-posts-style.css' %}">
</head>
<div class="posts">
    {% if post %}
        {% for p in post %}

        <div class="post1">
            <h4>{{ p.caption}}</h4>
            <p>{{p.descr}}
            </p>
            <div class="postfooter">
                <h3>{{p.mediatype}}</h3>
                <a href=""><img src="{% static 'images/collab-small-icon.svg' %}" alt="" width="25px" height="25px"></a>
            </div>
        </div>
        
        {% endfor %}
    {% else %}
    <div id="profile-content-controller-nomedia" style="display: block;">{% include 'content-404.html'  %}</div>
    {% endif %}
</div>

