{% load static %}
<head>
    <link rel="stylesheet" href="{% static 'css/profile-posts-style.css' %}">
</head>
<div class="posts">
    <div class="post1">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. lacus ma...
        </p>
        <div class="postfooter">
            <h3>Violin</h3>
            <a href=""><img src="{% static 'images/collab-small-icon.svg' %}" alt="" width="25px" height="25px"></a>
        </div>
    </div>
    <div class="post2">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. lacus ma...
        </p>
        <div class="postfooter">
            <h3>Violin</h3>
            <a href=""><img src="{% static 'images/collab-small-icon.svg' %}" alt="" width="25px" height="25px"></a>
        </div>
    </div>
    <div class="post3">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. lacus ma...
        </p>
        <div class="postfooter">
            <h3>Violin</h3>
            <a href=""><img src="{% static 'images/collab-small-icon.svg' %}" alt="" width="25px" height="25px"></a>
        </div>
    </div>
    <div class="post4">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. lacus ma...
        </p>
        <div class="postfooter">
            <h3>Violin</h3>
            <a href=""><img src="{% static 'images/collab-small-icon.svg' %}" alt="" width="25px" height="25px"></a>
        </div>
    </div>
    <div class="post5">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. lacus ma...
        </p>
        <div class="postfooter">
            <h3>Violin</h3>
            <a href=""><img src="{% static 'images/collab-small-icon.svg' %}" alt="" width="25px" height="25px"></a>
        </div>
    </div>
    <div class="post6">
        <h4>Lorem ipsum</h4>
        <p>Lorem ipsum dolor sit amet, 
            consectetur adipiscing elit. lacus ma...
        </p>
        <div class="postfooter">
            <h3>Violin</h3>
            <a href=""><img src="{% static 'images/collab-small-icon.svg' %}" alt="" width="25px" height="25px"></a>
        </div>
    </div>
</div>
