{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile | Posts</title>
    <link rel="stylesheet" href="{% static 'css/profile-saved-style.css' %}">
</head>
<body>
    <div class="header">
        <img src="{% static 'images/profile-picture.png' %}" alt="" class="imgcenter" width="80px">
        <h5 id="profile-name">Kate William</h5>
        <p id="profile-username">kate_wills . #348412</p>
        <div class="socials">
            <a href=""><img src="{% static 'images/🦆 icon _instagram_.svg' %}" alt="" height="20px" width="20px"></a>
            <a href=""><img src="{% static 'images/🦆 icon _twitter_.svg' %}" alt="" height="20px" width="20px"></a>
            <a href=""><img src="{% static 'images/🦆 icon _youtube_.svg' %}" alt="" height="20px" width="20px"></a>
            <a href=""><img src="{% static 'images/Vector.svg' %}" alt="" height="20px" width="20px"></a>
        </div>
    </div>
    <div class="body">
        <p id="profile-bio">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.lacus
             mauris, gravida in metus at, consectetur blandit nisl. Sed 
             cursus tristique enim, vel condimentum nunc finibus et. 
             sachb jsdvb...Lorem ipsum dolor sit amet, consectetur 
             adipiscing elit. lacus mauris, gravida in metus at, 
             consectetur blandit nisl.
        </p>
        <p class="mailbio" id="profile-mail"><b><a href=""><u>www.katewilliams.com</u></a></b></p>
        <hr>
        <div class="buttons">
            <input type="button" value="Posts" id="postbutton">
            <input type="button" value="Saved" id="savedbutton">
        </div>
        <div class="posts">
            <div class="post1">
                <h4>Lorem ipsum</h4>
                <p>Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. lacus ma...
                </p>
                <div class="postfooter">
                    <h3>Violin</h3>
                    <a href=""><img src="{% static 'images/collab-small-icon.svg' %}" alt="" width="25px" height="25px"></a>
                </div>
            </div>
            <div class="post2">
                <h4>Lorem ipsum</h4>
                <p>Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. lacus ma...
                </p>
                <div class="postfooter">
                    <h3>Violin</h3>
                    <a href=""><img src="{% static 'images/collab-small-icon.svg' %}" alt="" width="25px" height="25px"></a>
                </div>
            </div>
            <div class="post3">
                <h4>Lorem ipsum</h4>
                <p>Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. lacus ma...
                </p>
                <div class="postfooter">
                    <h3>Violin</h3>
                    <a href=""><img src="{% static 'images/collab-small-icon.svg' %}" alt="" width="25px" height="25px"></a>
                </div>
            </div>
            <div class="post4">
                <h4>Lorem ipsum</h4>
                <p>Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. lacus ma...
                </p>
                <div class="postfooter">
                    <h3>Violin</h3>
                    <a href=""><img src="{% static 'images/collab-small-icon.svg' %}" alt="" width="25px" height="25px"></a>
                </div>
            </div>
            <div class="post5">
                <h4>Lorem ipsum</h4>
                <p>Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. lacus ma...
                </p>
                <div class="postfooter">
                    <h3>Violin</h3>
                    <a href=""><img src="{% static 'images/collab-small-icon.svg' %}" alt="" width="25px" height="25px"></a>
                </div>
            </div>
            <div class="post6">
                <h4>Lorem ipsum</h4>
                <p>Lorem ipsum dolor sit amet, 
                    consectetur adipiscing elit. lacus ma...
                </p>
                <div class="postfooter">
                    <h3>Violin</h3>
                    <a href=""><img src="{% static 'images/collab-small-icon.svg' %}" alt="" width="25px" height="25px"></a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>