{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Products | Account</title>
    <link rel="stylesheet" href="{% static 'css/logstyle.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>

<body>
    <div class="container">
        <div class="navbar">
            
            <div class="logo">
                <a href="index.html"><img src="{% static 'images/Media.png' %}" alt="logo" width="125px"></a>
            </div>
            <div id="cmname">Sounz</div>
            <nav>
                <ul id="MenuItems">
                    <li>Start your music journey today</li>
                    
                </ul>
            </nav>
            
            <img src="{% static 'images/menu.png' %}" class="menu-icon" onclick="menutoggle()">
        </div>
    </div>

    <!-- Account Page -->
    <div class="account-page">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <img src="{% static 'images/musc.png' %}" width="100%">
                </div>
                <div class="col-2">
                    <div class="form-containereg">
                        <div class="form-btn">
                            <span onclick="register()">Register</span>
                            <hr id="Indicatoreg">
                        </div>
                        

                        <form id="RegForm">
                            <input type="text" placeholder="Username" id="username">
                            <input type="email" placeholder="Email" id="email">
                            <input type="password" placeholder="Password" id="password">
                            <input type="password" placeholder="Confirm Password"  id="confirmPassword">
                            <input type="text" placeholder="Firstname">
                            <input type="text" placeholder="Lastname">
                            <button class="btn">Add Profile Picture</button>
                            <p>Speciality:
                            <select id="mySelect" style="background-color: #ff523b; color: white; padding: 8px 30px; border-radius: 30px;">
                                <option value="option1">Option 1</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                                <option value="option4">Option 4</option>
                                <option value="option5">Option 5</option>
                                <option value="other">Other</option>
                              </select>

                              
                            <input type="text" id="otherInput" style="display: none; background-color:#e7e7e7; color: rgb(202, 202, 202); padding: 8px 30px; border-radius: 30px; margin-top: 10px;" placeholder="Enter your own option">
                             </p> 
                            <input type="number" placeholder="Phonenumber">
                            <textarea rows="5" cols="30" name="text" placeholder="User bio"></textarea>
                            
                            <button type="submit" class="btn">Register</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer -->
    <div class="footer">
        <div class="container">
           
            <div class="footer-col-4">
                <p>Create . Collaborate . Connect
                </p>
                <br>
                <h3>Follow Us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
            <hr>
        </div>
    </div>

    <!-- javascript -->

    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>
    <script>
        const selectField = document.getElementById("mySelect");
        const otherInput = document.getElementById("otherInput");
      
        selectField.addEventListener("change", function() {
          if (this.value === "other") {
            otherInput.style.display = "block";
          } else {
            otherInput.style.display = "none";
          }
        });
      </script>
   

</body>

</html>