{% extends 'base.html' %}
{% load static %}
{% block title %}Sounz{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link rel="stylesheet" href="{% static 'css/search-page.css' %}">
{% endblock %}

{% block content %}
<div class="header-for-home">{% include 'header-base-sub.html' %}</div>
<!--<div class="header-for-home">{% include 'header_base.html' %}</div>-->
<div class="search-expl1" style="margin-top: 30px;"">
    
    <center>
                <form id="search-form" method="post">
                  {% csrf_token %}
                  {{ form.as_p }}   
                  <!-- Button with image -->
                  <button id="form-buttons">
                    <svg width="17" height="16" fill="none" xmlns="http://www.w3.org/2000/svg" role="img" aria-labelledby="search">
                        <path d="M7.667 12.667A5.333 5.333 0 107.667 2a5.333 5.333 0 000 10.667zM14.334 14l-2.9-2.9" stroke="currentColor" stroke-width="1.333" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                </button>
                <input id="search-input-field" placeholder="Search here..." required type="text" name="search-input1">
                <button id="form-buttons" class="reset-search-form" type="reset">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                    </svg>
                </button>
                </form>

    </center>
</div>


<div class="main-explore">
    
    <div class="sub-explore">
        
            
            {% for post in user_posts %}
                <div class="homefeed"><!-- media each-main container -->

                        


                        <!-- {% if post.mediatype == 'video' %}
                            <video controls>
                                <source src="{{ post.media.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% endif %} -->


                                <!--  media deatails and thumbnail container -->
                            <div class="each-container">
                                <div class="post-overview">
                                    <div class="home-post-header"> <!--  username and date-time container -->
                                      <a href="{% url 'watch-profile' %}?uname={{post.username}}">
                                            {% for profile in all_users %}
                                                {% if profile.user.username == post.username %}
                                                    <img src="{{ profile.image.url }}" alt="{{ post.username }}'s Profile Image">
                                                {% endif %}
                                            {% endfor %}
                                            <p class="post-owner-username username-specific">@{{ post.username }}</p>
                                        </a>
                                        <p class="home-post-date post-date-specific"> • {{ post.timestamp|date }} <span class="post-media-format-display">• {{ post.media_format }}</span></p>
                                    </div>

                                    <a href="{% url 'media' %}?pid={{post.pid}}" class="post-details" id="post-details">
                                        <h3 class="post-caption">{{ post.caption }}</h3>
                                        <p class="post-description">{{ post.descr }}</p>
                                    </a>
                                    
                                     <div class="home-post-footer">  <!--like,save,share,collab button container -->
                                       <p class="post-inst">{{ post.mediatype }}</p>
                                        
                                    </div>
                                </div>
                                {% if post.media_thumbnail %}
                                    
                                    <img src="{{ post.media_thumbnail.url }}" alt="{{ post.caption }}" class="post-thumbnail">
                                
                                {% else %}
                                    {% if post.media_format == "Audio" %}
                                        <img src="{% static 'images/16_9 Audio.png' %}" alt="{{ post.caption }}" class="post-thumbnail">
                                    {% elif post.media_format == "Video" %}
                                        <img src="{% static 'images/16_9 Video.png' %}" alt="{{ post.caption }}" class="post-thumbnail">
                                    {% endif %}
                                {% endif %}
                            </div>
                        


                </div>
            {% endfor %}
            
    </div>

    <!-- suggestion main-container -->

    <div class="suggestions">

        <!-- most-viewed container -->
        <div class="mostviewed">
            <h4 class="mv-h4">Top Hits</h4>

            {% for post in user_posts|slice:":3"  %}
                    <a href="{% url 'media' %}?pid={{post.pid}}" class="suggestion-feed"> 
                        <span class="suggestion-post-details">      <!--  media deatails and thumbnail container -->
                            <h3 class="suggestion-post-caption">{{ post.caption }}</h3>
                            <span class="suggestion-content-username">&nbsp;by&nbsp;</span>
                            <p class="suggestion-content-postuser">{{ post.username }}</p>
                        </span> 
                        {% if post.media_thumbnail %}
                                    
                                    <img src="{{ post.media_thumbnail.url }}" alt="" class="post-thumbnail" style="border-radius: 8px;">
                                
                                {% else %}
                                    {% if post.media_format == "Audio" %}
                                        <img src="{% static 'images/16_9 Audio.png' %}" alt="" class="post-thumbnail" style="border-radius: 8px;">
                                    {% elif post.media_format == "Video" %}
                                        <img src="{% static 'images/16_9 Video.png' %}" alt="" class="post-thumbnail" style="border-radius: 8px;">
                                    {% endif %}
                                {% endif %}
                        <!-- <img src="{% static 'images/post-thumbnail.png' %}" alt="" class="post-thumbnail" style="border-radius: 8px;">       -->
                    </a>
            {% endfor %}

            <!-- {% for post in sliced %}
                <div class="mv-post">
                    <div class="mv-post-header">
                        <a href="#">
                            <img src="{% static 'images/profile-picture-specimen.png' %}" class="post-owner-profilepic" alt="" width="25px" height="25px" style="border-radius: 50%;">
                            <p class="post-owner-username">{{post.username}}</p>
                        </a>

                    </div>
                    <a href="#">
                        <div class="mvpost-overview">
                            <div class="mvpost-details">
                                <h3>{{post.caption}}</h3>
                                <p>{{post.descr}}</p>
                            </div>
                            <img src="{% static 'images/post-thumbnail.png' %}" alt="" class="mvpost-thumbnail" style="border-radius: 8px;">
                        </div>
                    </a>
                </div>
            {% endfor %} -->
        </div>

        <!--  top-artist container -->
        <div class="top-artists -ta-margin-specific">
            <h4 class="mv-h4">Top Artists</h4>
            <div class="artists">
                {% for art in topart %}
                    <a href="{% url 'watch-profile' %}?uname={{topart.username}}" class="artist-details">
                        <img src="{{ art.profile_picture.url }}" alt="" width="60px" height="60px" style="border-radius: 50%;">
                        <figcaption>{{art.username}}</figcaption>
                    </a>
                {% endfor %}
            </div>
        </div>
        
        <!--  More" button -->
        <div class="morebutton">
            
        </div>

    </div>
</div>
<script src="{% static 'js/search-box.js' %}"></script>
{% endblock %}