{% extends 'base.html' %}
{% load static %}
{% block title %}Sounz{% endblock %}
{% block additional_css %}
<link rel="stylesheet" href="{% static 'css/upload.css' %}">
{% endblock %}

{% block content %}
{% if user %}
<div class="header-for-home">{% include 'header-base-sub.html' %}</div>
<div class="form-main-container">
    
    <h1 class="upload-head">Upload new post</h1>
    <form method="post" enctype="multipart/form-data" id="upload_form">
        {% csrf_token %}
        {{ form.as_p }}
        <div id="prompt-message" data-message="{% if prompt_message %}{{ prompt_message }}{% endif %}" style="display: none;"></div>
        
        <input type="file" name="post" id="post_input" accept="video/*,audio/*" style="display: none;">
        <button type="button" onclick="document.getElementById('post_input').click();" class="btn" id="post-upload-btn">
            <span class="uploadLogo">
                <img id="upload-button-logo" src="{% static 'images/upload.svg' %}" alt="upload post">
            </span>
            <span class="upload-postText" id="upload-postText">Upload your file</span>
            <span class="support-postText" id="support-postText" style="font-size: 12px; color: #969696;">
                Supports Audio and Video formats.
            </span>
        </button>
        <br>
        
        <input type="file" name="thumbnail" id="thumbnail_input" accept="image/*" style="display: none;">
        <button type="button" onclick="document.getElementById('thumbnail_input').click();" class="btn" id="thumbnail-upload-btn">Upload Thumbnail</button>
        
         <div class="upload-postDetails">
            <input required type="text" id="title" name="title" placeholder="Caption">
            <input required type="text" id="post_description" name="post_description" placeholder="Description"></input>
            <select id="media_type" name="media_type">
                <option selected value="Audio">Audio</option>
                <option value="Video">Video (collaboration not supported)</option>
            </select>
            <input required type="text" id="tags" name="tags" placeholder="Media type ('vocals' 'guitar' 'piano' etc..)">
            <div class="visibility-control">
                <p id="visibilityOpt">Media visibility:</p>
                <div class="vPublic">
                    <input type="checkbox" id="media_visibility_public" class="visibility_checkbox" style="margin: 0;" checked>
                    <label for="media_visibility_public">Public</label>
                </div>
                <div class="vPrivate">
                    <input type="checkbox" id="media_visibility_private" class="visibility_checkbox" style="margin: 0;">
                    <label for="media_visibility_private">Private</label>
                </div>
            </div>
            <input type="text" id="language" name="language" placeholder="Language (optional)">
            <input type="text" name="location" id="location" placeholder="Location (optional)">
            <div class="uploadControls" id="upload-btns">
                <a href="{% url 'home' %}" class="upload-cancel"><center class="cancel-btn-upload">Cancel</center></a>
                <button type="submit" class="btn" id="upload-publishBtn">Publish</button>
            </div>
        </div>
    </form>
    
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var promptMessageElement = document.getElementById('prompt-message');
        var promptMessage = promptMessageElement.getAttribute('data-message');
        if (promptMessage) {
            alert(promptMessage);
        }
    });
    document.getElementById('post_input').addEventListener('change', function(event) {
            var fileInput = document.getElementById('post_input');
            var fileSelected = document.getElementById('upload-postText');
            var filenameDisplay = document.getElementById('support-postText');
            var uploadLogo = document.getElementById('upload-button-logo');
            var file = fileInput.files[0];

            if (file) {
                fileSelected.innerText = 'File Selected';
                filenameDisplay.innerText = file.name;
                uploadLogo.src = "{% static 'images/success.svg' %}";
            } else {
                filenameDisplay.textContent = 'No file selected';
            }
        });
    document.getElementById('thumbnail_input').addEventListener('change', function(event) {
            var fileInput = document.getElementById('thumbnail_input');
            var thumbnailMessage = document.getElementById('thumbnail-upload-btn');
            var file = fileInput.files[0];

            if (file) {
                thumbnailMessage.innerText = 'Thumbnail: ' + file.name;
            } else {
                thumbnailMessage.innerText = 'File Error!';
            }
        });
    document.querySelectorAll('.visibility_checkbox').forEach(checkbox => {
        checkbox.addEventListener('change', function() {
            if (this.checked) {
                document.querySelectorAll('.visibility_checkbox').forEach(cb => {
                    if (cb !== this) cb.checked = false;
                });
            }
        });
    });
</script>
{% endif %}
{% endblock %}