<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload form</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data" id="upload_form">
        <input type="file" name="post" id="post_input" accept="" style="display: none;">
        <button type="button" onclick="document.getElementById('post_input').click();" class="btn">Upload Audio</button>
        <input type="file" name="thumbnail" id="thumbnail_input" accept="" style="display: none;">
        <button type="button" onclick="document.getElementById('thumbnail').click();" class="btn">Upload Thumbnail</button>
        <input type="text" id="title" name="title" placeholder="enter title">
        <textarea id="post_description" name="post_description" placeholder="enter post description"></textarea>
        <input type="text" id="tags" name="tags" placeholder="enter post tags">
        <input type="text" id="language" name="language" placeholder="enter language">
        <input type="text" name="location" id="location" placeholder="location">
        <button type="submit" class="btn">Upload</button>

    </form>
</body>
</html>